# Virtual environment
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/project settings
.vscode/
.idea/

# Build/packaging
*.egg-info/
dist/
build/
